<div class="checkout">
  <h1>Checkout</h1>
  <p class="message-p">{{orderMsg}}</p>
  <div class="row">
    <div class="col-sm-7">
      <h3>Add Shipping Address</h3>
      <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
        <input
          class="form-input"
          type="email"
          placeholder="Enter Email"
          name="email"
          ngModel
          id=""
        />
        <input
          class="form-input"
          type="text"
          placeholder="Enter address"
          name="address"
          ngModel
          id=""
        />
        <input
          class="form-input"
          type="text"
          placeholder="Enter Contact"
          name="contact"
          ngModel
          id=""
        />
        
        <button class="form-button" >Order Now</button>
      </form>
    </div>
    <div class="col-sm-5">
        <h3>Total Amount : {{totalPrice}}</h3>
        <h4>Payment Method: <b>Cash On Delivery</b></h4>
    </div>
  </div>
</div>
